body {
            background-color: rgb(144, 238, 158);
            font-size:18px;
        }
        h1 {
            color: darkgreen;
            padding: 10px;
        }
        p {
            border: 2px solid purple;
            margin:20px;
        }
        .highlight {
            background-color: yellow;
            color: purple;
            font-weight: bold;
        }
        .box-style {
            border: 2px solid grey;
            padding: 15px;
            margin: 10px;
            border-radius: 8px;
        }